
.idea/
tmp_files/

.DS_Store
import_questions_ibm.xlsx
test_minutes.txt
/._.idea
/classes/external/._bot.php
/classes/._bot.php
/templates/._bot_log_details.mustache
/classes/._criabot.php
/classes/._criaembed.php
/classes/external/._gpt.php
/classes/._gpt.php
/lang/en/._local_cria.php
/classes/._logs.php
/classes/external/._permission.php
/db/._services.php
/._testing.php
/db/._upgrade.php
/._version.php
