<style>
    .dashboard-iframe {
        width: 100%;
        height: 100vh;
        border: none;
        margin: 0;
        padding: 0;
    }
</style>


<iframe
        class="dashboard-iframe mb4"
        src="{{config.wwwroot}}/local/cria/react/dashboard/build/index.html?bot_id={{bot_id}}"
        frameborder="0"
        allowfullscreen>
    Your browser does not support iframes.
</iframe>

