<style>
    .btn-edit-intent {
        cursor: pointer;
    }

    .btn-edit-intent:hover {
        color: #0d6efd;
    }
</style>
{{> local_cria/bot_nav_buttons}}
<input type="hidden" id="bot_id" value="{{bot_id}}"/>
<input type="hidden" id="cria-file-state" value="{{file_state}}"/>
<div class="row">
    <div class="col">
        <ul class="nav nav-tabs" id="cria-content-tabs" role="tablist">
            {{#intents}}
                <li class="nav-item" role="presentation">
                    <button
                            class="nav-link {{#active}}active{{/active}}"
                            id="content{{id}}-tab"
                            data-toggle="tab"
                            data-target="#content{{id}}"
                            type="button"
                            role="tab"
                            aria-controls="content{{id}}"
                            aria-selected="{{#active}}true{{/active}}{{^active}}false{{/active}}">
                        {{name}}
                        {{#edit_url}}
                            <a class="btn-edit-intent ml-2" href="{{edit_url}}" title="{{#str}}edit_intent, local_cria{{/str}}">
                                <i class="icon fa fa-pencil fa-fw" aria-hidden="true"></i>
                            </a>
                        {{/edit_url}}
                    </button>
                </li>
            {{/intents}}
            {{#add_intent_url}}
                <li class="nav-item ml-2 align-self-center">
                    <a class="btn btn-sm btn-secondary" href="{{add_intent_url}}">{{#str}}add_intent, local_cria{{/str}}</a>
                </li>
            {{/add_intent_url}}
        </ul>
        <div class="tab-content" id="cria-content-tab">
            {{#intents}}
                <div class="tab-pane fade {{#active}}show active{{/active}}" id="content{{id}}" role="tabpanel"
                     aria-labelledby="content{{id}}-tab">
                    <input type="hidden" class="cria-intent-id" value="{{id}}"/>
                    <div class="row mt-3">
                        <div class="col-md-6 col-sm-12">
                            <!-- Documents -->
                            {{> local_cria/content_documents}}
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <!-- Questions -->
                            {{> local_cria/content_questions}}
                        </div>
                    </div>
                </div>
            {{/intents}}

        </div>
    </div>
    {{> local_cria/publish_document_modal}}
    {{> local_cria/publish_question_modal}}
    {{> local_cria/delete_modal}}
    {{> local_cria/loader}}
</div>
