<div class="card cria-documents-card" data-intent-id="{{id}}">
    <h3 class="card-header">
        <div class="col">
            <h3 class="float-left">{{#str}}documents, local_cria{{/str}}</h3>
        </div>
        <div class="col">
            <div class="btn-group float-right" role="group">
                {{#upload_url}}
                    <a
                            class="btn btn-link btn-lg"
                            href="{{upload_url}}"
                            title="{{#str}}upload_files, local_cria{{/str}}">
                        <i class="bi bi-upload"></i>
                    </a>
                {{/upload_url}}
                <button type="button"
                        class="btn btn-link btn-lg dropdown-toggle"
                        title="{{#str}}add, local_cria{{/str}}"
                        data-toggle="dropdown"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                    <i class="bi bi-plus-circle"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    {{#upload_url}}
                        <a
                                class="dropdown-item"
                                href="{{upload_url}}"
                                title="{{#str}}upload_files, local_cria{{/str}}">{{#str}}upload_files, local_cria{{/str}}</a>
                    {{/upload_url}}
                    <a
                            class="dropdown-item cria-open-url-modal"
                            href="#"
                            data-intent-id="{{id}}"
                            title="{{#str}}web_pages, local_cria{{/str}}">{{#str}}web_pages, local_cria{{/str}}</a>
                </div>
                <button type="button"
                        class="btn btn-link btn-lg text-danger cria-delete-selected-documents"
                        data-intent_id="{{id}}"
                        title="{{#str}}delete_selected, local_cria{{/str}}"
                >
                    <i class="bi bi-x-circle"></i>
                </button>
            </div>
            <button class="btn btn-link btn-lg float-right mr-1 cria-publish-all-files"
                    data-intent_id="{{id}}"
                    title="{{#str}}publish_all, local_cria{{/str}}">
                <i class="bi bi-cloud-upload cria-icon-document-publish-all"></i>
                <i class="bi bi-arrow-repeat icn-spinner cria-icon-document-publish-all-spinner" style="display: none;"></i>
            </button>
        </div>
    </h3>
    <div class="card-body">
        <table class="table table-striped cria-documents-table" data-intent-id="{{id}}">
            <thead>
            <tr>
                <th>
                    <input type="checkbox" class="cria-document-select-all">
                </th>
                <th>{{#str}}name, local_cria{{/str}}</th>
                <th>{{#str}}status, local_cria{{/str}}</th>
                <th>{{#str}}actions, local_cria{{/str}}</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade cria-url-modal" id="urlModal-{{id}}" tabindex="-1" aria-labelledby="urlModalLabel-{{id}}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="urlModalLabel-{{id}}">{{#str}}web_pages, local_cria{{/str}}</h5>
                <button type="button" class="close" data-dismiss="modal" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-info" role="alert">
                    {{#str}}web_page_help, local_cria{{/str}}
                </div>
                <div class="field-group">
                    <label for="local-cria-urls-{{id}}">URL</label>
                    <textarea
                            id="local-cria-urls-{{id}}"
                            name="local-cria-urls-{{id}}"
                            class="form-control local-cria-urls"
                            placeholder="https://example.com"
                            rows="10"
                    ></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" data-bs-dismiss="modal">{{#str}}close, local_cria{{/str}}</button>
                <button type="button" class="btn btn-primary btn-cria-save-urls" data-intent_id="{{id}}">{{#str}}save, local_cria{{/str}}</button>
            </div>
        </div>
    </div>
</div>
