{{#related_prompts}}
    <button
            type="button"
            class="btn btn-outline-primary btn-sm btn-related-prompts"
            data-prompt="{{prompt}}"
    >
        {{label}}
    </button>
{{/related_prompts}}